// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
$font: 'Open Sans', sans-serif;

body {
    color: #666;
    font-size: 13px;
    line-height: 23px;
    background: #fff;
    font-family: $font;
    -webkit-font-smoothing: antialiased;
}
h1 {
    font-family: $font;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}
h3 {
    font-family: $font;
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}
h4 {
    font-family: $font;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
    color: #0066ff;
}
h6 {
    font-family: $font;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    color: #fff;
    float: right;
    margin-top: -20px;
    margin-right: 30px;
}
h6 a,
h6 a:hover {
    color: inherit;
}
p {
    font-family:$font;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

.header {
    padding:60px 50px 100px 50px;
    text-align:center;
    color:#fff;
    background:#333333;
    background-attachment:fixed;
    background-size:cover;
    text-shadow:0px 0px 15px rgba(0,0,0,0.1);
    height: 296px;
}
.menu {
    margin-top: 40px;
    float: left;
    font-size: 24.5px;
    border-style: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #ffffff;
}
.col-left-space {
    padding-left: 5px !important;
    width: auto;
}
.col-right-space {
    padding-right: 5px !important;
    width: auto;
}
.padding-title {
    color: #0066ff !important;
}
.add-new {
    color: #0066ff;
    margin-left: 30px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: $font;
}
.panel-default {
    margin-right: 30px !important;
    margin-left: 30px !important;
    color: #000 !important;
}
.space {
    padding-left: 8px;
}
.editorial-label{
    padding-top: 5px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}